
#menuIconCol {
    width: 70px;
}
#courseManagerHeaderCol {
    width: 300px;
}
#courseNameInputCol {
    width: 1000px;
}
#titleFld {
    background-color: #7fbdff;
    font-size: 1em;
    color: white;
} 
#titleFld::-moz-placeholder {
    color: white;
} 
#titleFld::-webkit-input-placeholder {
    color: white;
}

.fa-plus-circle {
    background: radial-gradient(white 50%, transparent 50%);
}